PORT=3000
MONGO_URI=mongodb+srv://phamvanduydev_db_user:6E52AxIDrQzsiExr@cluster0.5ht4axd.mongodb.net/?appName=Cluster0
JWT_SECRET=1d3d701ddcb61bb62fd0deacc14adc09196bff93ac5f38ec6fb43f3caf989794
GANACHE_RPC=http://127.0.0.1:7545
CONTRACT_ABI_PATH=./abi/Auction.json
MASTER_KEY=809b96d6ede826fb052a32b4cd510af002c70c00be974546090c3d2074e0155a
DEPLOYER_PRIVATE_KEY=0xac9ffaccd696164d56f2a185dc69a7b02323868f18911010361af49a8cb82213
ADMIN_PRIVATE_KEY=0x66eab148b06d04005c6af671df3be0ff4e2f05570eee3c1027b2eb7a82620d65
WALLET_ABI_PATH=./abi/BidChainWallet.json
CONTRACT_ADDRESS=0x0b596C1CfC76328dc95Cd33262882318416FE9cB
PINATA_API_KEY=ed32402419aba4c063da
PINATA_API_SECRET=dc14206fa208933153751d776a936679477e7839a12034253229141ac65a9acf
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlNGMyZmI3Ny00NTg0LTQ2ZjItOTIzZC1mNjU5Y2QwYTJiMWEiLCJlbWFpbCI6ImJpbmhuZ3V5ZW5wazI0QGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiJlZDMyNDAyNDE5YWJhNGMwNjNkYSIsInNjb3BlZEtleVNlY3JldCI6ImRjMTQyMDZmYTIwODkzMzE1Mzc1MWQ3NzZhOTM2Njc5NDc3ZTc4MzlhMTIwMzQyNTMyMjkxNDFhYzY1YTlhY2YiLCJleHAiOjE4MDc3OTY3NzF9.hKQDYBeL6WVQQKaDNqcx4h_xklX_fOvZb-_isXnt0SI
CLOUDINARY_CLOUD_NAME=dc4w5fgc3
CLOUDINARY_API_KEY=764362521236298
CLOUDINARY_API_SECRET=U-5rhs4z2sCm8l1NxFYjh5Xm82c
WALLET_CONTRACT_ADDRESS=0xADcC356a311AD7d953B3DC3cA8ccA615a05C56bB

VITE_API_URL=http://localhost:3000/api
