GANACHE_RPC=http://127.0.0.1:7545
DEPLOYER_PRIVATE_KEY=0xac9ffaccd696164d56f2a185dc69a7b02323868f18911010361af49a8cb82213
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlNGMyZmI3Ny00NTg0LTQ2ZjItOTIzZC1mNjU5Y2QwYTJiMWEiLCJlbWFpbCI6ImJpbmhuZ3V5ZW5wazI0QGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiJlZDMyNDAyNDE5YWJhNGMwNjNkYSIsInNjb3BlZEtleVNlY3JldCI6ImRjMTQyMDZmYTIwODkzMzE1Mzc1MWQ3NzZhOTM2Njc5NDc3ZTc4MzlhMTIwMzQyNTMyMjkxNDFhYzY1YTlhY2YiLCJleHAiOjE4MDc3OTY3NzF9.hKQDYBeL6WVQQKaDNqcx4h_xklX_fOvZb-_isXnt0SI
CONTRACT_ADDRESS=0x0b596C1CfC76328dc95Cd33262882318416FE9cB
